* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
h1 {
    font-size: 2.5em;
    font-family: 'Georgia', serif;
    line-height: 1.2;
    margin-bottom: 0.5em;
}

h1.page-title {
    text-align: center;
}
h2 {
    font-size: 2em;
    font-family: 'Georgia', serif;
    line-height: 1.4;
    margin-bottom: 0.5em;
}
h3 {
    font-size: 1.5em;
    font-family: 'Georgia', serif;
    line-height: 1.4;
    margin-bottom: 0.5em;
}
p {
    font-size: 1.1em;
    margin-bottom: 1.5em;
}
@media (min-width: 1700px) {
    body {
        font-size: 13.5px;
    }
}

@media (min-width: 2500px) {
    body {
        font-size: 17px;
    }
}

#theme-icon {
    font-size: 1.8em;
    transition: color 0.3s ease;
}

#theme-icon {
    font-size: 1.2em;
}
body {
    max-width: 1100px;
    margin: auto;
    padding: 2em 4em;
    box-shadow: 0 0 8px 1px #e5e5e5;
    min-height: 100vh;
    padding-top: 80px;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
}
header {
    padding: 1em 0;
}
header h1 {
    text-align: center;
    margin: 1em 0;
}
header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
header nav a {
    width: 10%;
    padding: 1rem;
    text-align: center;
    font-size: 1.15em;
    cursor: pointer;
    transition: 0.2s;
}
header nav a:hover, h2 a:hover {
    color: #00A000;
}
a, a:visited {
    text-decoration: none;
    color: #00A000;
    transition: color 0.3s ease;
    font-size: 1em;
}

p, h2, h3 {
    margin: 2em 0;
}

a.active {
    font-weight: bold;
    color: #00A000;
    border-bottom: 2px solid #00A000;
}

form {
    margin: 2em 0;
}
form input {
    width: 50%;
    max-width: 400px;
    border: 1px solid #b4b4b4;
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 1em;
    transition: .2s;
}
form button {
    padding: 0.5em;
    font-size: 1em;
    background: none;
    border: 2px solid #00A000;
    border-radius: 4px;
}
ul {
    padding-left: 2em;
    margin: 1.5em 0;
    font-size: 1.1em;
}
p.contact {
    text-align: center;
}

.custom-context-menu {
    position: absolute;
    display: none;
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10000;
    padding: 0.5em 1em;
    font-size: 1em;
    list-style: none;
}

.custom-context-menu li {
    padding: 0.5em 0;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.custom-context-menu li:hover {
    background-color: #f0f0f0;
}
