h3 {
    display: none;
}


ul:has(li:not([style*="display: none"])) + h3 {
    display: block;
}


.tag-filter {
    display: inline-block;
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    padding: 6px 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 15px;
    border: 2px solid #04AA6D;
}

.tag-filter.active {
    background-color: #04AA6D;
    color: white;
}

.tag-filter:hover {
    background-color: #04AA6D;
    color: white;
}